@import 'ember-bootstrap/bootstrap';

.item {
  float: left;
  width: 18%;
  margin: 10px 1%;
  padding: 1%;
}

@media all and (max-width: 900px) {
  .item {
    width: 70%;
    margin: 10px 15%;
  }
}

.audiencia_link img {
  width: 100%;
}

.redes_sociales {
  width: 30px;
  margin-top: 20px
}
