@import 'ember-bootstrap/bootstrap';

#processes{
  color:#29ABE2;
}


#imaginary_container{
  margin-top: 2em ;

}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

// Taken from: http://getbootstrap.com.vn/examples/equal-height-columns/
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.valign {
  align-items: center
}

.item {
  float: left;
  width: 18%;
  margin: 10px 1%;
  padding: 1%;
}

#button:hover{
  background-color:#29ABE2;
  cursor: pointer;
}

@media all and (max-width: 900px) {
  .item {
    width: 70%;
    margin: 10px 15%;
  }
}

.audiencia_link img {
  width: 100%;
}

.redes_sociales {
  width: 30px;
  margin-top: 20px
}

.audiencia_header {
  background-color: #4E3A82;
  color: white;
}

.top-buffer {
    margin-top: 20px;
}
