<section style="background-color:#271D41;">
  <!-- Header -->
  <div class="container">
    <nav class="navbar ">
      <div class="container-fluid">
        <div class="col-md-6">
          <div class="navbar-header">
            {{#link-to 'application'}}
              <img src="/img/LOGOS/PORTAL_AP-02.png" alt="image" style="width:250px; margin-top:20px; margin-bottom:10px;">
            {{/link-to}}
          </div>
        </div>

        <div class="col-md-6">
          <ul class="nav navbar-nav ">
            <a href="https://www.facebook.com/Redciudadanagt/">
              <img src="/img/REDES/REDES-04.png" alt="image" style="width:45px; margin-top:20px;">
            </a>

            <a href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg">
              <img src="/img/REDES/REDES-05.png" alt="image" style="width:45px; margin-top:20px;">
            </a>

            <a href="https://twitter.com/RedxGuate">
              <img src="/img/REDES/REDES-06.png" alt="image" style="width:45px; margin-top:20px;">
            </a>
          </ul>

          <div id="imaginary_container"> 
            <div class="input-group stylish-input-group" >
              <input type="text" class="form-control" placeholder="Search" style="margin-left: 1em;">
              <span class="input-group-addon">
                <button type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

{{outlet}}

<footer id="footer" style="background-color:#404041;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-4 text-justify" style="margin-top:75px; color:white;" >
                <h4> Asociación Civil Red Ciudadana </h4>
                <p>
                Somos una organización sin fines de lucro, creada con la misión de incentivar la
                participación y la auditoría ciudadana. Nuestros proyectos están orientados a
                eliminar los obstáculos más comunes que interfieren con el ejercicio de la
                ciudadanía y con el fortalecimiento de la institucionalidad a través del uso
                innovador de la tecnología y de la comunicación.
                </p>
              </div>

              <div class="col-md-4 center-block" style="margin-top:50px; margin-bottom:50px; color:white;">
                <a href="http://redciudadana.org/" class="logo">
                  <img alt="Asociación Civil Red Ciudadana" class="img-responsive" src="/img/LOGOS/redciudadana.png" style=":width:200px;">
                </a>
                <a href="http://redciudadana.org/" style="color: #59595c;">
                  Desarrollado por Asociación Civil Red Ciudadana
                </a>
                <a href="http://labhackercd.net" style="color: #59595c;">
                  Inspirado por proyecto LabHacker Câmara dos Deputados
                </a>
              </div>

              <div class="col-md-4 text-justify" style="margin-top:75px; color:white;">
                <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es_ES">
                  <h4>
                    Reconocimiento-Compartir Igual 4.0 Internacional (CC BY-SA 4.0) 
                  </h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
