 <section style="background-color:#271D41;">
        <!-- Header -->
        <div class="container"  >
          <nav class="navbar ">
            <div class="container-fluid">
              <div class="navbar-header">
                 <img src="/img/LOGOS/PORTAL_AP-02.png" alt="image" 
                        style="width:250px;
                              margin-top:20px;
                              margin-bottom:10px;">
              </div>
              <div class="">
                <ul class="nav navbar-nav navbar-right">
                   <a href="#">
                  <img src="/img/REDES/REDES-02.png" alt="image" 
                        style="width:45px;
                              margin-top:20px;">
                              </a>
                  <a href="#"><img src="/img/REDES/REDES-03.png" alt="image" 
                        style="width:45px;
                              margin-top:20px;"></a>
                  <a href="#"><img src="/img/REDES/REDES-04.png" alt="image" 
                        style="width:45px;
                              margin-top:20px;"></a>
                  <a href="#"><img src="/img/REDES/REDES-05.png" alt="image" 
                        style="width:45px;
                              margin-top:20px;"></a>
                  <a href="#"><img src="/img/REDES/REDES-06.png" alt="image" 
                        style="width:45px;
                              margin-top:20px;"></a>
                  <img src="/img/PORTAL_AP-06.png" alt="image" 
                        style="width:250px;
                              margin-top:20px;">
                </ul>
              </div>
              <!--/.nav-collapse  -->
            </div>
            <!--/.container-fluid -->
          </nav>
        </div>
  </section>

{{outlet}}

<footer class="footer">
  <div class="footer__logos">
    <img
      style="height: 7em;"
      class="logos__image image"
      src="/img/logo-gobierno.png"
      alt="Ministerio de Finanzas Públicas"
      title="Ministerio de Finanzas Públicas"
    >
    <a class="logos__link" href="http://redciudadana.org.gt/">
      <img
        class="logos__image image"
        src="/img/logo-red-ciudadana-no-white.png"
        alt="Red Ciudadana"
        title="Red ciudadana"
      >
    </a>
  </div>
</footer>
