<main class="home">
  <section class="section-top">
    <div class="banner">
      <img class="banner__logo" src="/img/PORTAL_AP-07.png" style="width: 100%;">
    </div>
  </section>
  <section class="section-top">
    <div class="banner">
      <img class="banner__logo" src="/img/PORTAL_AP-12.png" style="width: 100%;">
    </div>
  </section>

<section style="background-color: #D0D2D3; padding: 25px;">
  <div class="container" style="background-color: #FFF;">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center">
          <h1><strong> Audiencias Públicas </strong></h1>
          <p class="text-center">Lorem ipsum dolor sit amet, 
          consectetuer adipiscing elit. 
          Aenean commodo ligula eget dolor. 
          Aenean massa. 
          Cum sociis natoque penatibus et magnis dis parturient montes, 
          nascetur ridiculus mus. </p>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-01.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>

          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-02.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-03.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-04.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-05.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
      </div>

      <div class="col-md-12 text-center">
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-06.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-07.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-08.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-09.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-10.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
      </div>
      <div class="col-md-12 text-center">
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-11.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-12.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-13.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-14.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-15.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
      </div>
      <div class="col-md-12 text-center">
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-16.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-17.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-18.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-19.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-20.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
      </div>
      <div class="col-md-12 text-center">
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-21.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-22.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-23.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-24.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-25.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
      </div>
      <div class="col-md-12 text-center">
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-26.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-27.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-28.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-29.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-30.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
      </div>
      <div class="col-md-12 text-center">
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-31.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-32.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-33.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-34.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-35.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
      </div>
      <div class="col-md-12 text-center">
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-36.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
          <a href="#">
            <img src="/img/ICONOS_TEXTO/PORTAL_AP-37.png" alt="image" style="margin-top:20px; margin-right:20px; width:150px;">
          </a>
      </div>
    </div>
  </div>
</section>

{{!--   <section class="section-bottom">
    <div class="preview--live-videos hide">
      <div class="preview__floating-header">
        <i class="header__icon icon icon-circle live-blink"></i>
        <h2 class="header__title">En vivo</h2>
      </div>

      <div class="preview__list-wrapper">
        <ul class="preview__list">
        </ul>
      </div>
    </div>

    <div class="preview--closed-videos">
      <div class="preview__floating-header">
        <i class="header__icon icon icon-play"></i>
        <h2 class="header__title">INSTITUCIONES</h2>
      </div>

      <div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div>
<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div>

      <div class="preview__list-wrapper">
        <ul class="preview__list">
          {{#each model as |audiencia|}}
            <li class="list__video text-center">
              {{#if audiencia.thumbMedium}}
                {{#link-to 'audiencia' audiencia.id class="video__link"}}
                  <img class="video__thumbnail" src="{{audiencia.thumbMedium}}">
                {{/link-to}}
              {{/if}}

              <h2 class="video__title">
                {{#link-to 'audiencia' audiencia.id class="title__link"}}
                  {{audiencia.nombre}}
                {{/link-to}}
              </h2>
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="preview__show-all hide">
      </div>
    </div>

    <div class="preview--calendar hide">
      <div class="preview__floating-header">
        <i class="header__icon icon icon-calendar"></i>
        <h2 class="header__title">Calendario</h2>
      </div>

      <table class="calendar-table">
        <tbody class="calendar-table__body">
        </tbody>
      </table>
    </div>
  </section> --}}
</main>
